body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f6f8;
}

header {
    background: #1f2937;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    color: #111827;
}

ul {
    line-height: 1.8;
}

footer {
    text-align: center;
    padding: 15px;
    background: #e5e7eb;
}

.linkedin {
    color: #e3e5e8;
    text-decoration: none;

}
.my_name {
    font-size: 36px;
    font-weight: bold;
    color: #e3e5e8;
}